<ion-view title="Friends">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="friend in friends">
        <div class="item-button-right">
          <div ng-click='goToDetails(friend)'>
            {{friend.name}}
          </div>
          <button class='button button-assertive' ng-click="removeFriend(friend)">
            Remove
          </button>
        </div>
      </ion-item>
    <label class="item item-input">
      <input type="text" placeholder='New Friend' ng-model='newFriend'>
    </label>
    <button class='button button-block button-balanced' ng-click='addFriend(newFriend)'>Push New Friend</button>
    </ion-list>
  </ion-content>
</ion-view>
